html{
  background-color: rgb(242, 237, 212, 0.7);
  font-family: 'Inconsolata', serif;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:black;
  font-size:2rem;
  text-align: center;
}
a:hover{
  color:red;
  cursor:pointer;
  transition: 2s ease;
  font-size: 2.1rem;
}

span{
  position: absolute;/*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  height:40px;
  width:70px;
  margin: auto;
  opacity:80%;
}
.special{
  font-size: 0.8rem;
}
.special:hover{
  font-size: 0.85rem;
}

.envelope1{
  position: absolute;/*it can be fixed too*/
  left:0;
  right:400px;
  top:50px;
  bottom:0;
  height:90px;
  width:140px;
  margin: auto;
  transform: scale(0.2);
  opacity: 50%;
  animation: fadeIn 15s ease;
  z-index: 0;

  /* border: 1px solid black; */
}
.envelope1:hover{
  cursor:pointer;
  transition: 1s ease;
  transform: scale(0.25);
}
.envelope2{
  position: absolute;/*it can be fixed too*/
  left:400px;
  right:0;
  top:60px;
  bottom:10;
  height:90px;
  width:140px;
  margin: auto;
  transform: scale(0.2);
  opacity: 50%;
  animation-delay: 2s;
  animation: fadeIn 25s ease;
  z-index: 0;

  /* border: 1px solid black; */
}
.envelope2:hover{
  cursor:pointer;
  transition: 1s ease;
  transform: scale(0.25);
}
p{
  z-index:2
  position: absolute;/*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  height:600px;
  width:400px;
  padding:30px;
  margin: auto;
  text-align:center;
  word-wrap: normal;
  overflow:scroll;
  font-size: 1.3em;
  border: 2px solid black;
  background:rgb(242, 237, 212, 0.9);
  cursor:grab;
}
div:hover{
  cursor:grab;
}
.credits{
  z-index:2
  position: absolute;/*it can be fixed too*/
  left:0;
  right:0;
  top:0;
  bottom:0;
  height:auto;
  width:auto;
  padding:30px;
  margin: auto;
  text-align:center;
  word-wrap: normal;

  font-size: 0.8em;

  /* background:rgb(242, 237, 212, 0.9); */
  cursor:pointer;
}
h1{
  font-size: 1.5em;
  font-weight: bold;
}

.back{
  transform: scale(1.5);
  display: inline-block;
  position: fixed;
  bottom: 20px;
  left:20px;


}
.link{
  font-size:1em;
  opacity:90%;
}
.link:hover{
  transition: 2s ease;
  font-size: 2em;
}


#one {
    display:none;
}

#two {
    display:none;
}

#three {
    display:none;
}
#four {
    display:none;
    transform:scale(7);
}
#five {
    display:none;
}
#six {
    display:none;
}
#seven {
    display:none;

}
#eight{
  display:none;
}
#nine{
  display:none;
}
#opacity1{
  opacity:85%;
}
#opacity2{
  opacity:85%;
}

@keyframes fadeIn{
  0%{
    opacity:0;
  }
  100%{
    opacity:50%;
  }
}
